{% include post-image-url.html %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | strip_html | truncatewords: 20 | jsonify }},
  "articleBody": {{ content | strip_html | jsonify }},
  "url": {{ (site.url | append: page.url) | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "image": "{{ post_image_url }}",
  "author": {% include schema-author.html %},
  "publisher": {% include schema-author.html %},
  "inLanguage": "en",
  "isAccessibleForFree": true,
  "wordCount": {{ content | strip_html | number_of_words }}{% if page.category %},
  "articleSection": "{{ page.category }}"{% endif %}{% if page.keywords %},
  "keywords": "{{ page.keywords | join: ', ' }}"{% endif %}
}
</script>
